<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sfass.bsamonitoring.inventory.mapper.InventoryMapper">

    <select id="selectInventoryItems" parameterType="InventorySearchDTO" resultType="InventoryDTO">
        SELECT DISTINCT
        p.name,
        p.part_id AS product_code,
        pl.production_line_id AS production_line,
        pr.process_id AS process_code,
        DATE_FORMAT(p.last_warehousing_date, '%y-%m-%d') AS last_update,
        p.current_quantity,
        p.minimum_required_quantity AS minimum_quantity
        FROM ${bsa.db.schema}.part p
        LEFT JOIN ${bsa.db.schema}.process_part pp ON p.part_id = pp.part_id
        LEFT JOIN ${bsa.db.schema}.process pr ON pp.process_id = pr.process_id
        LEFT JOIN ${bsa.db.schema}.production_line_process plp ON pr.process_id = plp.process_id
        LEFT JOIN ${bsa.db.schema}.production_line pl ON plp.production_line_id = pl.production_line_id
        <where>
            <if test="search != null and search != ''">
                AND (
                p.name LIKE CONCAT('%', #{search}, '%')
                OR p.description LIKE CONCAT('%', #{search}, '%')
                )
            </if>
            <if test="processId != null and processId != ''">
                AND pr.process_id = #{processId}
            </if>
            <if test="productId != null and productId != ''">
                AND pl.production_line_id = #{productId}
            </if>
        </where>
        ORDER BY p.name ASC
    </select>

    <select id="countInventoryItems" parameterType="InventorySearchDTO" resultType="Long">
        SELECT COUNT(DISTINCT p.part_id)
        FROM ${bsa.db.schema}.part p
        LEFT JOIN ${bsa.db.schema}.process_part pp ON p.part_id = pp.part_id
        LEFT JOIN ${bsa.db.schema}.process pr ON pp.process_id = pr.process_id
        LEFT JOIN ${bsa.db.schema}.production_line_process plp ON pr.process_id = plp.process_id
        LEFT JOIN ${bsa.db.schema}.production_line pl ON plp.production_line_id = pl.production_line_id
        <where>
            <if test="search != null and search != ''">
                AND (
                p.name LIKE CONCAT('%', #{search}, '%')
                OR p.description LIKE CONCAT('%', #{search}, '%')
                )
            </if>
            <if test="processId != null and processId != ''">
                AND pr.process_id = #{processId}
            </if>
            <if test="productId != null and productId != ''">
                AND pl.production_line_id = #{productId}
            </if>
        </where>
    </select>

</mapper>
