<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sfass.bsamonitoring.inventory.mapper.OrderMapper">

    <update id="updateInventoryQuantity">
        UPDATE ${bsa.db.schema}.part
        SET current_quantity = current_quantity + #{quantity},
            last_warehousing_date = NOW()
        WHERE part_id = #{productCode}
    </update>

    <select id="getCurrentQuantity" resultType="Integer">
        SELECT current_quantity
        FROM ${bsa.db.schema}.part
        WHERE part_id = #{productCode}
    </select>

    <select id="getNextOrderSequence" resultType="int">
        INSERT INTO ${bsa.db.schema}.order_sequence (sequence, order_date)
        VALUES (
                   COALESCE(
                           (SELECT MAX(sequence) + 1
                            FROM ${bsa.db.schema}.order_sequence
                            WHERE DATE(order_date) = CURDATE()),
            1
        ),
                   CURDATE()
               );
        SELECT LAST_INSERT_ID();
    </select>

</mapper>