<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sfass.bsamonitoring.user.mapper.UserMapper">

    <select id="loginUser" resultType="User" parameterType="UserLoginDto">
        SELECT *
        FROM ${bsa.db.schema}.user
        WHERE 1=1
            AND user_id = #{userId}
            AND user_pwd = #{userPwd}
    </select>

    <select id="getUserById" parameterType="String">
        SELECT user_id
        FROM ${bsa.db.schema}.user
        WHERE user_id = #{userId}
    </select>

    <select id="getUsers" resultType="User" parameterType="Map">
        SELECT *
        FROM ${bsa.db.schema}.user
        WHERE 1=1
        <if test="userName != '' and userName != null">
            AND user_name LIKE CONCAT('%', #{userName}, '%')
        </if>
        <if test="productionLine != '' and productionLine != null">
            AND production_line = (SELECT product FROM ${bsa.db.schema}.production_line WHERE production_line_id = #{productionLine})
        </if>
        <if test="processLine != '' and processLine != null">
            AND process_line = (SELECT name FROM ${bsa.db.schema}.process WHERE process_id = #{processLine})
        </if>
    </select>

    <insert id="insertUser" parameterType="User">
        INSERT INTO ${bsa.db.schema}.user
        (`user_id`,
        `user_pwd`,
        `user_name`,
        `email`,
        `last_login_time`,
        `login_status`,
        `department`,
        `position`,
        `emp_no`,
        `production_line`,
        `process_line`,
        `auth`)
        VALUES
        (#{userId},
        #{userPwd},
        #{userName},
        #{email},
        #{lastLoginTime},
        #{loginStatus},
        #{department},
        #{position},
        #{empNo},
        #{productionLine},
        #{processLine},
        #{auth});
    </insert>

    <select id="getUser" resultType="User" parameterType="UserLoginDto">
        SELECT *
        FROM ${bsa.db.schema}.user
        WHERE 1=1
          AND user_id = #{userId}
          AND user_pwd = #{userPwd}
    </select>

    <update id="updateLogin" parameterType="UserLoginDto">
        UPDATE ${bsa.db.schema}.user
        SET
          last_login_time = NOW(),
          login_status = true
        WHERE user_id = #{userId} AND user_pwd = #{userPwd}
    </update>

    <select id="getUserByEmpNo" resultType="User" parameterType="String">
        SELECT *
        FROM ${bsa.db.schema}.user
        WHERE 1=1
          AND emp_no = #{userEmpNo}
    </select>

    <update id="updateAuth" parameterType="userUpdate">
        UPDATE ${bsa.db.schema}.user
        SET auth = #{newAuth}
        WHERE emp_no = #{targetEmpNo}
    </update>

    <delete id="deleteUser" parameterType="String">
        DELETE
        FROM ${bsa.db.schema}.user
        WHERE emp_no = #{empNo}
    </delete>

</mapper>